.DS_Store
app/images/
app/similarColors/
app/imagesWithoutBackground/
app/similarComplementaryColor/
app/imagesWithBackground/
app/similarImages/
app/background.jpg
app/visitedURL.txt
app/clipResults/

__pycache__/
*.py[cod]
*$py.class
.idea
